<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Docfex</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='bootstrap4/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='font_awesome/css/all.css') }}" rel="stylesheet" />

    {% block head %}
    {% endblock %}

  </head>

  <body {% block in_body %}{% endblock %} >
    <header id="header" class="sticky-top">
        {% block header%}
        {% endblock %}
    </header>

    <div id="breadcrumb">
      {% block breadcrumb %}
      {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='jquery/jquery.slim.js') }}"></script>
    <script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4/js/bootstrap.min.js') }}"></script>

  </body>
</html>
