
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}" />

<footer class="fixed-bottom d-none d-md-block">
    <div class="bg-light">
        <hr>
        <div id="footer-topic" class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2>About</h2>
                    <p>
                        Personal Website for easy access<br />to know-how about various
                        topics
                    </p>
                </div>
                <div class="col text-center">
                    <h2>Contact</h2>
                    <p>yourmail@host.com</p>
                </div>
            </div>
            <hr class="col-10" />
            <h6 class="text-center">Created by Manuel Hatzl</h6>
        </div>
    </div>  
</footer>
